.elements__area {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media all and (min-width: 385px) and (max-width: 1024px) {
  .elements__area {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  }
}

@media all and (max-width: 384px) {
  .elements__area {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
  }
}