.popup__content {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 430px;
  color: #000;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  margin: 195px auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media all and (max-width: 384px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
    margin: 123px auto;
  }
}
