.profile__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  justify-self: start;
}

@media all and (max-width: 719px) {
  .profile__name {
    font-size: 25px;
    line-height: 1.22;
    text-align: center;
    max-width: 189px;
  }
}
@media all and (max-width: 384px) {
  .profile__name {
    justify-self: end;
  }
}
