@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);

.root {
    background-color:#000;
  }

.page {
    min-width: 280px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  .header {
    border-bottom: 1px solid #545454;
    padding-top: 45px;
    margin: 0 auto;
    max-width: 880px;
    min-height: 74px;
  }

  @media all and (min-width: 720px) and (max-width: 1024px)  {
    .header {
      margin: 32px auto 0;
      max-width: 660px;
      min-height: 62px;
    }
  }

  @media all and (max-width: 719px) {
    .header {
        margin: 28px auto 0;
        max-width: 719px;
        min-height: 56px;
    }
  }

  .header__logo {
    max-width: 142px;
    margin: 0;
  }

  @media all and (max-width: 719px) {
    .header__logo {
        max-width: 103px;
        margin-left: 27px;
    }
  }
  
  .profile {
    margin: 40px auto 0;
    max-width: 880px;
    min-height: 120px;
    display: grid;
    justify-content: start;
    grid-template-areas: 
   "avatar info add-button";
   grid-template-columns: 124px 1fr 1fr;
  }

  @media all and (min-width: 720px) and (max-width: 1024px) {
    .profile {
      margin: 42px auto 0;
      max-width: 660px;
      gap: 10px;
    }
  }

  @media all and (min-width: 385px) and (max-width: 719px) {
    .profile {
      margin: 42px 15px 0;
      grid-template-areas:
      "avatar info"
      ". add-button";
      row-gap: 10px;
      column-gap: 10px;
    }
  }

  @media all and (max-width: 384px) {
    .profile {
      grid-template-areas:
      "avatar"
      "info"
      "add-button";
      margin: 42px 19px 0;
      grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
      grid-template-rows: 120px 116px 50px;
    }
  }



  .profile__avatar {
    grid-area: avatar;
    border-radius: 50%;
  }

  @media all and (max-width: 719px) {
    .profile__avatar  {
      justify-self: center;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .profile__info {
    grid-area: info;
    margin: 22px 0 0 30px;
    display: grid;
    grid-template-areas: 
    "name edit-button"
    "intro   . "; 
    column-gap: 18px;
    row-gap: 16px;
    grid-template-columns: 294px 1fr;
    grid-template-rows: 39px 1fr;
 }

 @media all and (min-width: 720px) and (max-width: 1024px) {
  .profile__info  {
    margin: 22px 0 0;
  }
}

 @media all and (min-width: 385px) and (max-width: 719px) {
  .profile__info  {
    grid-template-columns: 203px 1fr;
    grid-template-rows: 26px 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 0;
    align-items: center;
  }
}
 
@media all and (max-width: 384px) {
  .profile__info  {
    margin: 26px 0 36px 0;
    justify-content: center;
    column-gap: 10px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    grid-template-rows: 26px 1fr;
  }
}

  .profile__name {
    grid-area: name;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    justify-self: start;
  }

  @media all and (max-width: 719px) {
    .profile__name {
      font-size: 27px;
      line-height: 1.22;
      text-align: center;
      max-width: 189px;
    }
  }
  @media all and (max-width: 384px) {
    .profile__name {
      justify-self: end;
    }
  }


  .profile__edit-button {
    grid-area: edit-button;
    max-width: 24px;
    align-self: end;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
  
  .profile__edit-button:hover {
    opacity: .5;
  }



  @media all and (max-width: 719px) {
    .profile__edit-button {
      max-width: 18px;
      margin-right: 20px;
    }
  }

  .profile__intro {
    grid-area: intro;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    justify-self: start;
  }

  @media all and (max-width: 719px) {
    .profile__intro {
      justify-self: start;
    }
  }

  @media all and (max-width: 384px) {
    .profile__intro {
      font-size: 14px;
      line-height: 1.21;
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-self: center;
    }
  }




  .profile__add-button {
    grid-area: add-button;
    min-height: 50px;
    min-width: 150px;
    border: 2px solid #fff;
    background-position: center;
    background-color: #000;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: end; 
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .profile__add-button:hover {
    opacity: .5;
  }

  @media all and (min-width: 385px) and (max-width: 719px) {
    .profile__add-button {
      min-width: 227px;
      justify-self: start;
    }
  }

  @media all and (max-width: 384px) {
    .profile__add-button {
      width: 100%;
    }
  }

  .add-button__vector {
    width: 22px;
    color: #fff;
  }

  @media all and (max-width: 719px) {
    .add-button__vector {
      max-width: 16px;
    }
  }
  
  .elements {
    margin: 50px auto 0;
    max-width: 880px;
  }

  @media all and (min-width: 720px) and (max-width: 1024px) {
    .elements {
      margin: 36px auto 0;
     max-width: 660px;
    }
  }


  
  @media all and (min-width: 385px) and (max-width: 719px) {
    .elements {
      margin: 36px 15px 0;
     
    }
  }

  @media all and (max-width: 384px) {
    .elements {
      margin: 36px 19px 0;
     
    }
  }

  .elements__area {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
  }

  @media all and (min-width: 385px) and (max-width: 1024px) {
    .elements__area {
      gap: 8px;
      grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
    }
  }


  @media all and (max-width: 384px) {
    .elements__area {
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    }
  }


  .element {
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "photo ."
    "heading button";
    grid-template-columns: 214px 1fr;
    column-gap: 10px;
  } 

  @media all and (min-width: 385px) and (max-width: 1024px) {
    .element {
      grid-template-columns: repeat(auto-fit, minmax(110px, 182px));
    }
  }

  @media all and (max-width: 384px) {
    .element {
      grid-template-columns: repeat(auto-fit, minmax(220px, 0));
    }
  }

  .element__photo {
   grid-area: photo;
   background-size: contain;
   grid-column-start: 1;
   grid-column-end: 3;
   width: 100%;
}

  .element__heading {
    grid-area: heading;
    margin: 25px 0 25px 21px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.20;
    color: #000;
    max-width: 198px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media all and (min-width: 385px) and (max-width: 1024px) {
    .element__heading {
      margin: 25px 0 31px 5px;
      font-size: 16px;
    }
  }

  .element__like-button {
    grid-area: button;
    padding: 0;
    margin: 0 20px 0 0;
    background: url(../images/Like.png);
    background-repeat: no-repeat;
    border: none;
    min-width: 22px;
    min-height: 19px;
    justify-self: end;
    align-self: center;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

.element__like-button:hover {
  opacity: .5;
}
  .element__like-button:active {
    background: url(../images/LikeActive.png);
    background-color: #fff;
  }


  .footer {
    max-width: 880px;
    margin: 66px auto 60px;
  }

  @media all and (min-width: 720px) and (max-width: 1024px) {
    .footer {
      max-width: 660px;
    }
  }

  @media all and (max-width: 719px) {
    .footer {
        margin: 49px 19px 36px;
    }
  }

  .footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
  }

  @media all and (max-width: 719px) {
    .footer__copyright {
      font-size: 14px;
    }
  }

.popup {
  display: none;
  align-items: start;
  justify-content: start;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup__close-button {
  background: transparent url(../images/CloseIcon.svg) center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  top: -40px;
  right: -40px;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  }
  
  .popup__close-button:hover {
    opacity: .5;
  }
  @media all and (max-width: 719px) {
    .popup__close-button {
      min-width: 20px;
      min-height: 20px;
      top: -35px;
      right: 0px;
    }
  }

.popup__content {
 background-color: #fff;
 border-radius: 10px;
 width: 100%;
 max-width: 430px;
 max-height: 330px;
 color: #000;
 position: relative;
 box-sizing: border-box;
 padding: 34px 36px 37px;
 margin: 195px auto;
}

@media all and (max-width: 719px) {
  .popup__content {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
}


.popup__title {
font-weight: 900;
font-size: 24px;
line-height: 1.20;
margin: 0;
max-width: 330px;
}

@media all and (max-width: 719px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 1.22;
  }
}



.popup__container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin: 54px 0 0;

}

@media all and (max-width: 719px) {
  .popup__container {
    margin: 75px 0 45px;
    gap: 30px;

  }
}


.input__text {
  border: 0;
  border-bottom: 1px solid #bcbcc4;
  box-sizing: border-box;
  font-family: inherit;
  min-height: 22px;
  outline-color: #545454;
  padding: 0;
}

.input__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: red;
  padding-bottom: 30px;
}

.input__text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: red;
  padding-bottom: 30px;
}

.input__text::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: red;
}

.input__text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: red;
  padding-bottom: 10px;
}

@media all and (max-width: 719px) {
  .input__text {
    padding-bottom: 7px;
    min-height: 27px;
  }
}

.popup__save-button {
  margin: 48px 0 0;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-align: center;
width: 358px;
height: 50px;
cursor: pointer;
padding: 0;
transition-property: opacity;
transition-duration: 1s;
transition-timing-function: linear;
  }

.popup__save-button:hover {
  opacity: .5;
}

@media all and (max-width: 719px) {
  .popup__save-button {
    max-width: 238px;
    max-height: 46px;
    margin: 0;
    font-size: 14px;
line-height: 1.21;
  }
}

 .popup_opened {
   display: block;
 } 