.profile__job {
  grid-area: intro;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  justify-self: start;
}

@media all and (max-width: 719px) {
  .profile__job {
    font-size: 14px;
  }
}

@media all and (max-width: 384px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
}
