.popup__text {
  border: 0;
  border-bottom: 1px solid #bcbcc4;
  box-sizing: border-box;
  font-family: inherit;
  min-height: 36px;
  outline-color: #1599df;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
  
  
@media all and (max-width: 719px) {
  .popup__text {
    padding-bottom: 7px;
    min-height: 27px;
  }
}